.survey-card {
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  color: #101828;
  cursor: pointer;
  transition: box-shadow 0.3s;
  min-height: 120px;
  background: none;
  transition: background-color 0.7s;
}

.survey-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
@media (max-width: 600px) {
  .survey-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #101828;
  line-height: 38px;
  margin: 0 0 16px 0;
}

.survey-link:hover .survey-card {
  background: #e2eaf8;
}

.survey-link {
  text-decoration: none;
}