.developer-comments ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 20px;
  max-width: 900px;

  li {
    padding: 10px;
    padding-left: 0;
    border-bottom: dotted 1px #666;
  }
}

.title {
  margin-bottom: 20px;
}
