<div class="app-container developer-comments">
  <h1 class="title">Observations & Comments</h1>
  <p class="comments-sub">Time permitting, areas where improvements can be made:</p>
  <ul>
    <li>Scope for refactoring given the time, including more judicious use of observables and async pipe in templates.</li>
    <li>Add spinner/loaders to handle rendering and/or data fetching delays</li>
    <li>Add autosave functionality using debounce based on a variety of user interactions such as onblur from fields etc</li>
    <li>Leverage localStorage or indexDB for temp persisting of data across a session particularly if api requests are failing or connection is down</li>
    <li>Add comprehensive unit and e2e tests</li>
    <li>Add extensive input validation and more thought required on making the edit and save functionality clearer for users</li>
    <li>Put more stringent controls in place regarding input validation</li>
    <li>Inclusion of NgRx for more insightful debugging and state management</li>
    <li>Add more obvious visual cues for when an item is being saved</li>
    <li>Hook up the delete question functionality fully</li>
    <li>More work required on data cleanup during navigation</li>
    <li>Add the ability to create new surveys from directly within the UI</li>
    <li>Add subtle animations when navigating from dashboard or when adding new questions</li>
  </ul>
</div>
